<footer>


  <small>
    &copy; 2026 SportGear —
    <time datetime="2026-03-09">9 martie 2026</time>
    <i class="fa-solid fa-fire fa-bounce"> </i>
</small>


  <p><strong>IP utilizator:</strong> <%= ip %></p>


  <address>
    <p>
      Telefon:

      <a href="tel:+40712345678">0712 345 678</a>

    </p>

    <p>
      Adresa : 

      <a href="https://maps.google.com/?q=Facultatea+de+Matematica+si+Informatica+Bucuresti" target="_blank" rel="noopener">
        Strada Sportivilor 10<br>
        Sector 1 <br>
        Bucuresti
      </a>
    </p>

    <p>
    Email:
    <a href="mailto:sportgear.contact@gmail.com">sportgear.contact@gmail.com</a>
    </p>

    <p>

      WhatsApp:

      <a  href= "https://wa.me/40712345678"  target= "_blank" rel="noopener">Scrie-ne pe WhatsApp </a>
    </p>
  </address>
</footer>