<header>
  <hgroup>
    <h1> <i class="fa-solid fa-dumbbell"> </i> SportGear </h1>
    <p>Totul pentru sport! </p>
  </hgroup>

  <nav aria-label="Meniu principal">
    
    <input type="checkbox" id="btn-meniu">

    <label for="btn-meniu" id="hamburger" aria-label="Deschide meniul">
        <span></span>
        <span></span>
        <span></span>
    </label>

    <ul>
      <li>
        <a href="/index#acasa">
          <i class="fa-solid fa-house"></i>
          <span>Acasă</span>
        </a>
        <ul>
          <li><a href="/index#categorii">Categorii</a></li>
          <li><a href="/index#oferte">Oferte</a></li>
        <li><a href="/index#evenimente">Evenimente</a></li>
        </ul>
      </li>

      <li>
        <a href= "/index#produse">
          <i class="fa-solid fa-box-open"> </i>
          <span>Produse</span>
        </a>
      </li>

      <li>
        <a href="/galerie-statica">
          <i class="fa-solid fa-images"></i>
          <span>Galerii</span>
         </a>

        <ul>
        <li><a href="/galerie-statica">Galerie statică</a></li>
        <li><a href="/galerie-dinamica">Galerie dinamică</a></li>
        </ul>

      </li>

      <li>

        <a href="/index#contact">
          <i class="fa-solid fa-envelope"></i>

          <span>Contact</span>
       
        </a>
      
    </li>
    </ul>
</nav>
</header>


