<meta charset="utf-8">

<meta name="author" content= "Apostol Albert-Marian" >
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="SportGear este un magazin online de articole sportive">
<meta name="keywords" content="articole sportive, sport, magazin, magazin sport online, echipamente sportive, alergare, fitness, fotbal, outdoor, ciclism, accesorii sport, reduceri sport, livrare, retur">
<meta name="msapplication-TileColor" content="#1e3a8a">

<title><%= titlu %>
</title>

<link rel="apple-touch-icon" sizes="180x180" href="/resurse/ico/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/resurse/ico/favicon-32x32.png">
<link rel="icon" type = "image/png" sizes="16x16" href= "/resurse/ico/favicon-16x16.png">
<link rel="manifest" href="/resurse/ico/site.webmanifest">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap" rel="stylesheet">
<link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<link rel="stylesheet" href="/resurse/custom.css">
<link rel="stylesheet" href="/resurse/style.css">



